@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 225 9% 9%;
    --foreground: 210 40% 98%;

    --card: 228 9% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 228 9% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 45 100% 55%;
    --primary-foreground: 0 0% 100%;

    --secondary: 228 6% 16%;
    --secondary-foreground: 210 40% 98%;

    --muted: 228 6% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 228 6% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 6% 16%;
    --input: 228 6% 16%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border antialiased;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
}
@keyframes border-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-border-spin {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.animate-border-spin::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: transparent;
  background-image: conic-gradient(
    transparent,
    #3b82f6,
    transparent 30%
  ); /* Altere #3b82f6 pela sua cor */
  animation: border-rotate 4s linear infinite;
}

.animate-border-spin::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 2px; /* Espessura da borda */
  top: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: inherit; /* Mantém a cor original do botão */
  border-radius: inherit;
}
